.flexbox{
  display: flex;
  flex-direction: column;
}
.top{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 20px;
  border-bottom: solid;
  border-width: 1px;
  border-color: #d7d7d7;

}
.logo{
  height: auto;
  width: 100%;
  max-width: 120px;
  padding-top: 5px;
}
.cart{
  height: auto;
  width: 100%;
  max-width: 50px;
  padding-top: 5px;
}
.banner{
  display: flex;
  justify-content: center;
  background-image: url("flower-bkgd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 75px;
  filter: grayscale(55%);
}
.girl{
  padding-top: 15px;
  max-height: 100%;
  height: 400px;
  max-width: 100%;
  width:auto;
  filter: saturate(150%);
}
.handcrafted{
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}
.products{
  display: flex;
  flex-flow: column wrap;
  border-top: solid;
  border-width: 1px;
  align-items: center;
  border-color: #d7d7d7;
  padding-top: 30px;
}
.love{
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.clothes{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.knit{
  text-align: center;
  padding-top: 20px;
}
.cotton{
  text-align: center;
  padding-top: 20px;
}
.stretch{
  text-align: center;
  padding-top: 20px;
}
.hipster{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}
.updates{
  display: flex;
  align-items: center;
  background-image: url("wave-bkgd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.signup{
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}
.footer{
  text-align: center;
  padding-top: 50px;
  background-color: #242424;
  color: white;
  font-family: 'Playfair Display', serif;
}
p{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}
h1, h2, h3, h4{
  font-family: 'Playfair Display', serif;
}
.italics{
  font-style: italic;

}
.greyfont{
  color: #969696;
  font-size: 10px;
}
.orangefont{
  color: #e2574c;
}
